{% spaceless %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="utf-8">
            <title>Silex Framework & Twig & Idiorm & Paris Skeleton</title>
        </head>
        <body>
            {% block contents %}

            {% endblock %}
        </body>
    </html>
{% endspaceless %}